<h1>New Review</h1>

<%= render 'form' %>

<%= link_to 'Back', reviews_path %>

<!-- <p>
  <strong>Add A Review:</strong>
  <ul>
    <%= form_for [@restaurant, Comment.new] do |f| %>
  <li>
    <%= f.text_field :rating %>
  </li>
  <li>
    <%= f.text_field :content %>
  </li>
  <li>
    <%= f.submit "add a review" %>
  </li>
    <% end %>
  </ul>
</p> -->